.product-name__brand {
  font-family: 'Raleway', serif;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 27px;
  margin-bottom: 15px;
}

.product-name__name {
  font-family: 'Raleway', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 27px;
}