.product-description-page__wrap {
  max-width: 1440px;
  margin: 0 auto;

  .product-description-page__container {
    width: 85%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

    .product-description-page__description-content {
      margin-right: 75px;

      .product-description-page__price-title {
        font-family: 'Roboto Condensed', serif;
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 18px;
        text-transform: uppercase;
        margin-bottom: 20px;
      }

      .product-description-page__button {
        font-family: 'Raleway', serif;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 120%;
        width: 292px;
        height: 52px;
        margin-bottom: 40px;
      }

      .product-description-page__item-description {
        font-family: 'Roboto', serif;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
      }
    }
  }
}



